@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    margin: 10px;
    background: linear-gradient(rgba(0, 75, 136, 0.5),rgba(5,0,136,0.5)),url(images/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    background-color: #fff;
    border-bottom: 2px solid green;
    

}
nav{
    align-items: center;
    margin: auto;
    justify-content: space-between;
   
}
.logo img{
    width: 140px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: #333;
    margin: 0 40px;
    text-transform: uppercase;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}
.content h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
    
}
.content p{
    color: white;
    line-height: 22px;

}
.btn{
    margin-top: 20px;
    width: 120px;
    padding: 8px;
}